@use "./utils/variables" as vars;
@use "./utils/fonts";

@use "./base/reset";
@use "./base/base";

@use "./components/input";
@use "./components/button";

@use "./layouts/section";
@use "./layouts/container";
@use "./layouts/header";
@use "./layouts/overlay";
@use "./layouts/hero";
@use "./layouts/blog";
@use "./layouts/posts";
@use "./layouts/popular";
