.red-hat-display-regular {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red-hat-display-semibold {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.red-hat-display-medium {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
