.button {
    background-color: var(--gray-medium-color);
    color: var(--light-color);
    padding: 8px 16px;
    width: 182px;
    height: 45px;
    font-size: 16px;
    align-items: center;

    &:hover,
    &:focus {
        background-color: var(--gray-dark-color);
    }
}
