.input {
    width: 0;
    opacity: 0;
    height: 30px;
    padding: 0;
    border: none;
    pointer-events: none;
    transition: all 0.3s ease;

    &::placeholder {
        color: var(--gray-normal-color);
        font-size: 12px;
    }
}

.is-active .input {
    width: 178px;
    padding: 4px;
    border-bottom: 1px solid var(--dark-color);
    opacity: 1;
    pointer-events: auto;
}
