body {
    margin: 0;
    color: var(--gray-medium-color);
    background-color: var(--light-color);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 32px;
}
