@use "../utils/variables" as *;

.blog {
    padding-top: 70px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__title {
        font-size: 48px;
        line-height: 1.3;
        color: var(--dark-color);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: $bp-desktop) {
            .blog__card:nth-child(odd) {
                align-self: flex-start;
            }

            .blog__card:nth-child(even) {
                align-self: flex-end;
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            align-items: center;
            gap: 20px;

            &:first-child {
                flex-direction: row-reverse;
            }
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 30px;
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media screen and (min-width: $bp-desktop) {
                width: 450px;
                height: 300px;
            }
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 30px;
            letter-spacing: 2px;
        }

        &--tags {
            color: var(--gray-normal-color);
        }

        &-description {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &--title {
            font-size: 22px;
            line-height: 1.5;
            color: var(--dark-color);

            @media screen and (min-width: $bp-tablet) {
                font-size: 23px;
                line-height: 1.4;
            }
        }

        &--date {
            color: var(--gray-normal-color);
        }

        &--text {
            color: var(--gray-medium-color);
            letter-spacing: 0.5px;

            @media screen and (min-width: $bp-tablet) {
                letter-spacing: 0.6px;
                line-height: 1.4;
            }
        }

        &--link {
            margin-left: 10px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: var(--gray-normal-color);
        }

        &--link-text {
            font-size: 14px;
            line-height: 1.3;
            display: none;
            opacity: 0;
            transform: translateX(-10px);
            transition: 0.3s ease;
            white-space: nowrap;
        }

        &--link:hover &--link-text,
        &--link:focus &--link-text {
            opacity: 1;
            transform: translateX(0);
            display: inline-block;
            color: var(--dark-color);
        }

        &--link:hover,
        &--link:focus {
            color: var(--dark-color);
        }

        &--image {
            width: 300px;
            height: 250px;
            object-fit: cover;

            @media screen and (min-width: $bp-tablet) {
                width: 340px;
                height: 280px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 570px;
                height: 470px;
            }
        }
    }

    &__icon {
        width: 17px;
        height: 12px;
        fill: currentColor;
    }

    &__icon:hover {
        fill: currentColor;
    }
}
