@use "../utils/variables" as *;

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @media screen and (min-width: $bp-tablet) {
        padding: 0 34px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 0 135px;
    }
}
