@use "../utils/variables" as *;

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--gray-light-color);

    @media screen and (min-width: $bp-desktop) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @media screen and (min-width: $bp-desktop) {
            align-items: unset;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $bp-desktop) {
            text-align: unset;
            gap: 30px;
        }

        &--title {
            font-size: 32px;
            line-height: 1.3;
            color: var(--dark-color);
            letter-spacing: 1.3px;

            @media screen and (min-width: $bp-tablet) {
                font-size: 48px;
            }
        }

        &--address {
            line-height: 1.5;
            color: var(--dark-color);
            font-size: 18px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            & a {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -4px;
                    width: 0;
                    height: 1px;
                    background-color: var(--dark-color);
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100px;
                }
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        width: 270px;

        &--item {
            width: 50px;
            height: 50px;
            border: 1px solid var(--gray-medium-color);
            background-color: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--gray-medium-color);

            & a {
                position: relative;
            }

            &:hover,
            &:focus {
                background-color: var(--gray-medium-color);
                color: var(--light-color);
            }
        }

        &--icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            fill: currentColor;
        }

        &--icon-facebook {
            width: 13px;
        }
    }

    &__copyright {
        line-height: 1.5;
        color: var(--dark-color);
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-size: 12px;
        }
    }
}
