@use "../utils/variables" as *;

.header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background-color: var(--light-color);

    @media screen and (min-width: $bp-desktop) {
        padding: 40px 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 145px;
        height: 13px;
    }

    &__burger {
        width: 34px;
        height: 22px;
    }

    &__close {
        width: 30px;
        height: 30px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 84px;

        nav {
            display: flex;
            gap: 42px;

            a {
                position: relative;
                text-transform: uppercase;
                font-size: 14px;
                color: var(--dark-color);

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -4px;
                    width: 0;
                    height: 1px;
                    background-color: var(--dark-color);
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 40px;
                }
            }
        }
    }

    &__mobile {
        display: none;
        position: relative;
    }

    &__search-container {
        position: relative;
    }

    &__search {
        width: 24px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        cursor: pointer;
    }
}

//* Mobile */
@media (max-width: $bp-tablet) {
    .header {
        &__nav {
            display: none;
        }

        &__mobile {
            display: block;

            &--top {
                display: flex;
                align-items: center;
                gap: 40px;

                @media (max-width: $bp-mobile) {
                    gap: 20px;
                }
            }
        }

        &__burger,
        &__close {
            transition: opacity 0.25s ease, transform 0.25s ease;
        }

        &__close {
            opacity: 1;
            transform: scale(0.8);
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
        }
    }

    .burger-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 20;
        position: relative;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: var(--gray-light-color);
        padding: 100px 30px;
        list-style: none;
        z-index: 15;

        display: flex;
        flex-direction: column;
        gap: 20px;

        transform: translateX(100%);
        transition: transform 0.35s ease;

        a {
            color: var(--dark-color);
            font-size: 18px;

            &:hover,
            &:focus {
                color: var(--gray-normal-color);
            }
        }

        &.is-open {
            transform: translateX(0);
        }
    }
}
.no-scroll {
    overflow: hidden;
}

@media (max-width: $bp-mobile) {
    .header__search-container {
        position: relative;
    }

    .header__search-container .input {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 10px;

        transform: translateY(-10px);
    }

    .header__search-container.is-active .input {
        transform: translateY(0);
    }
}
