@use "../utils/variables" as *;

.info {
    padding-top: 70px;
    padding-bottom: 70px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media screen and (min-width: $bp-tablet) {
            gap: 50px;
        }

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (min-width: $bp-tablet) {
            gap: 20px;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 470px;
        }

        &--title {
            font-size: 24px;
            color: var(--dark-color);
            letter-spacing: 2px;
            line-height: 1.6;

            @media screen and (min-width: $bp-tablet) {
                font-size: 23px;
            }
        }

        &--link {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: var(--gray-normal-color);
        }

        &--link-text {
            font-size: 16px;
            line-height: 1.3;
            display: none;
            opacity: 0;
            transform: translateX(-10px);
            transition: 0.3s ease;
            white-space: nowrap;
        }

        &--link:hover &--link-text,
        &--link:focus &--link-text {
            opacity: 1;
            transform: translateX(0);
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--dark-color);
        }

        &--link:hover,
        &--link:focus {
            color: var(--dark-color);
        }

        &--icon {
            width: 23px;
            height: 17px;
            fill: currentColor;
        }

        &--icon:hover {
            fill: currentColor;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 1.3px;
        color: var(--gray-medium-color);

        @media screen and (min-width: $bp-tablet) {
            text-align: end;
            letter-spacing: 1.5px;
            font-size: 19px;
        }

        @media screen and (min-width: $bp-desktop) {
            text-align: start;
            width: 470px;
        }
    }
}
