.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 10;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

/* Burger animation */
.burger-btn svg {
    transition: transform 0.3s;
}

.burger-btn.is-active svg {
    transform: rotate(90deg);
}
