.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 10;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

/* Burger animation */
.burger-btn .header__close {
    display: none;
}

/* Коли меню відкрите */
.burger-btn.is-active .header__burger {
    display: none;
}

.burger-btn.is-active .header__close {
    display: block;
}
