@use "../utils/variables" as *;

.popular {
    padding-top: 70px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: $bp-tablet) {
            gap: 50px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--title {
            font-size: 28px;
            line-height: 1.3;
            color: var(--dark-color);
        }

        &--link {
            display: flex;
            align-items: center;
            gap: 20px;
            color: var(--gray-normal-color);

            &:hover,
            &:focus {
                color: var(--dark-color);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: $bp-tablet) {
            align-items: center;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 20px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media screen and (min-width: $bp-tablet) {
            gap: 20px;
            width: 340px;
        }

        @media screen and (min-width: $bp-desktop) {
            gap: 30px;
            width: 570px;
        }

        &--image {
            width: 300px;
            height: 150px;
            object-fit: cover;

            @media screen and (min-width: $bp-tablet) {
                width: 340px;
                height: 160px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 570px;
                height: 260px;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media screen and (min-width: $bp-tablet) {
                gap: 20px;
            }
        }

        &--description {
            line-height: 1.3;
            color: var(--gray-normal-color);
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: $bp-tablet) {
                font-size: 12px;
            }
        }

        &--subtitle {
            line-height: 1.3;
            font-weight: 400;
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            line-height: 1.6;

            @media screen and (min-width: $bp-tablet) {
                gap: 20px;
            }
        }

        &--title {
            font-size: 22px;
            color: var(--dark-color);
            letter-spacing: 2.3px;

            @media screen and (min-width: $bp-desktop) {
                font-size: 24px;
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: var(--gray-medium-color);
            letter-spacing: 1px;

            @media screen and (min-width: $bp-tablet) {
                & span {
                    display: none;
                }
            }
        }
    }
}
