@use "../utils/variables" as *;

.posts {
    padding-top: 70px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 90px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: $bp-tablet) {
            gap: 50px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &--title {
            font-size: 28px;
            line-height: 1.3;
            color: var(--dark-color);
        }

        &--link {
            display: flex;
            align-items: center;
            gap: 20px;
            color: var(--gray-normal-color);

            &:hover,
            &:focus {
                color: var(--dark-color);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width: $bp-tablet) {
            gap: 30px;
        }

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 20px;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

        @media screen and (min-width: $bp-desktop) {
            flex-direction: column;
            gap: 25px;

            &:nth-child(even) {
                flex-direction: column;
            }
        }

        &--image {
            width: 300px;
            height: 210px;
            object-fit: cover;

            @media screen and (min-width: $bp-tablet) {
                width: 340px;
                height: 240px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 370px;
                height: 260px;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &--description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--gray-normal-color);

            @media screen and (min-width: $bp-tablet) {
                font-size: 12px;
            }
        }

        &--subtitle {
            line-height: 1.3;
            font-weight: 400;
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            letter-spacing: 2px;

            @media screen and (min-width: $bp-tablet) {
                letter-spacing: 1.2px;
            }
        }

        &--title {
            font-size: 22px;
            line-height: 1.3;
            color: var(--dark-color);
        }

        &--text {
            line-height: 1.5;
            color: var(--gray-medium-color);
        }
    }
}
